{
  "presets": ["babel-preset-expo"],
  "plugins": [
    "react-native-reanimated/plugin",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "ScoutDesign": "./ScoutDesign",
        "CreateEvent": "./src/modules/createEvent/createEventForm",
        "data": "./src/data"
        
      }
    }]
  ]
}
